*
{
	font-family: monospace;
}
body
{
	background-color: rgba(250,250,250,0.5);
}
#header
{
	width: 100%;
	height: 900px;
	position: absolute;
	left: 0;
	top: 0;
}
#header .i
{
 position: absolute;
 left: 10%;
 top: 6vh;
}
#header .h
{
	font-family: monospace;
	position: absolute;
	left: 12.5%;
	top: 5vh;
}
#header a
{
	color:#4F5665;

	font-size: 20px;
	text-decoration: none;
	font-family: monospace;
	 margin: 0 20px;
	 position: relative;
	 left: 30%;
 	 top: 7.5vh;
}
#header a:hover
{
	color: #000;
}
#header .p
{
 	font-family: monospace;
 	font-size:  22px;
	 position: absolute;
	 left: 75%;
 	 top: 5vh;
}
#header .a
{ 
	 color:#F53855;
 	 font-family: monospace;
 	 width: 120px;
 	 font-size:  20px;
	 position: absolute;
	 text-align: center;
	 left: 80%;
 	 top: 7.5vh;
 	 border: 1px solid #F53855;
 	 border-radius: 50px;
 	
}
#header .a:hover
{
	color: #000;
	border: 1px solid #000;
}
#header .i1
{
	position: absolute;
	right: 15%;
	top: 30vh;

}
#header .h1
{ 	
	font-size: 56px;
	position: absolute;
	left: 10%;
	top:30vh;

}
#header .p1
{
	font-size: 18px;
	position: absolute;
	left: 10%;
	top: 50vh;
	opacity: .5;
}
#header .p2
{	
	text-align: center;
	font-size: 24px;
	position: absolute;
	left: 20%;
	top: 65vh;
	color:#fff;
	background-color: #F53855;
	border: solid #F53855 ;
	border-width: 20px;
	border-radius: 10px;
}
.btnflip {
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform-origin: center center;
}
.btnflip-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  background-color: rgba(0,0,0, .05);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  transition: 1s;
}
.btnflip-item.btnflip__front {
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__front {
  transform: rotateX(-180deg) translateZ(20px);
}
.btnflip-item.btnflip__back {
  transform: rotateX(180deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__back {
  transform: rotateX(0deg) translateZ(20px);
}
.btnflip-item.btnflip__center {
  background: linear-gradient(to left, #c31a5b, #7129bd);
}
.btnflip-item.btnflip__center::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #ffdd1f, #c31a5b);
  border-radius: 30px;
  transform: translateZ(-1px);
}
.btnflip:hover .btnflip-item.btnflip__center {
  transform: rotateX(-180deg);
}
#footer
{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.8);
	position:absolute;
	top: 800px;
	left: 0;
}


@media (max-width: 768px)
{
	.i
	{
		max-width: 25px;
		max-height: 25px;
	}
	.h
	{
		font-size: 15px;

	}
	#header a
	{
		font-size: 15px;
		position: relative;
		left: 23%;
		top: 6.5%;
		margin: 0 5px;
	}
	#header .p
	{
		display: none;
	}
	#header .a
	{
		font-size: 15px;
		max-width: 60px;
		position: absolute;
		left: 73%;
		top: 6.5%;
	}
	#header .i1
	{
		position: absolute;
		left: 0;
		top: 10%;
	}
	#header .h1
	{
		font-size: 30px;
		top: 55%;
		left: 25%;
	}
	#header .p1
	{
		font-size: 16px;
		max-width:500px;
		position: absolute;
		top: 70%;
		left: 7%;
		align-items: center;
	}
	.btnflip
	{
		position: absolute;
		top: 80%;
		left: 43%;
	}
	#footer
	{
		max-width: 768px;
		position: absolute;
		top: 850px;
	}
}
@media (max-width: 480px)
{
	.i
	{
		max-width: 15px;
		max-height: 15px;
	}
	.h
	{
		font-size: 11px;

	}
	#header a
	{
		font-size: 11px;
		position: relative;
		left: 29%;
		top: 6.5%;
		margin: 0 1px;
	}
	#header .p
	{
		display: none;
	}
	#header .a
	{
		font-size: 14px;
		max-width: 60px;
		position: absolute;
		left: 80%;
		top: 10%;
	}
	#header .i1
	{
		max-width: 480px;
		position: absolute;
		left: 0;
		top: 10%;
	}
	#header .h1
	{
		font-size: 30px;
		top: 45%;
		left: 25%;
	}
	#header .p1
	{
		font-size: 16px;
		max-width:500px;
		position: absolute;
		top: 55%;
		left: 7%;
		align-items: center;
	}
	.btnflip
	{
		position: absolute;
		top: 65%;
		left: 53%;
	}
	#footer
	{
		height: 70px;
		max-width: 768px;
		position: absolute;
		top: 690px;
	}
}